@{
    ViewData["Title"] = "Home Page";
}

@section Stylesheets {
    <link rel="stylesheet" href="~/admin.css" asp-append-version="true"/>
}

<h1>Admin</h1>

<div id="app">
    Loading...
</div>

@section Scripts {
    <script src="~/runtime.js" asp-append-version="true"></script>
    <script src="~/vendors.js" asp-append-version="true"></script>
    <script src="~/admin.js" asp-append-version="true"></script>
}