@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="app">
    Loading...
</div>

@section Scripts {
    <script src="~/runtime.js" asp-append-version="true"></script>
    <script src="~/vendors.js" asp-append-version="true"></script>
    <script src="~/main.js" asp-append-version="true"></script>
}